{% extends "WebCenter/base.html" %}

{% load static %}

{% block content%}



<div class="container">

    <div style="float:right; ">
        {% include "car/widget.html"  %}
    </div>

<div class="row">

{% for product in products %}

<div class="col-md-3">

    <div class="card" style="width:100%; margin: 10px 10px;">

    <img src="{{product.image.url}}" class="card-img-top" alt="">

        <div class="card-body" style="text-align:center">

            <h6 class="card-title"> {{product.name}}</h6>
            <p class="card-text">{{product.price}}&nbsp; USD</p>
            <p class="card-text">&nbsp;{{product.cat}}</p>

        </div>
        <div class="card-footer text-center">
            <a href="{% url 'car:add' product.id %}"> Add to Cart </a>
        
        </div>


    </div><!-- class: card-->
  

</div><!-- class: col-->




{%endfor%}

</div>
</div>

{% endblock%}

